# RAINFALL PREDICTION USING MACHINE LEARNING

## DATA PREVIEW

In [2]:
#Importing libraries used for reading data and data visualization
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Reading the CSV file
# Corrected file path and delimiter usage
train_data = pd.read_csv(r"C:\Users\USER\Downloads\PHASE_5_CAPSTONE_PROJECT\Data\train.csv", delimiter=",", encoding="utf-8")

# Display the first few rows to verify the data
print(train_data.head())

   id  day  pressure  maxtemp  temparature  mintemp  dewpoint  humidity  \
0   0    1    1017.4     21.2         20.6     19.9      19.4      87.0
1   1    2    1019.5     16.2         16.9     15.8      15.4      95.0
2   2    3    1024.1     19.4         16.1     14.6       9.3      75.0
3   3    4    1013.4     18.1         17.8     16.9      16.8      95.0
4   4    5    1021.8     21.3         18.4     15.2       9.6      52.0

   cloud  sunshine  winddirection  windspeed  rainfall
0   88.0       1.1           60.0       17.2         1
1   91.0       0.0           50.0       21.9         1
2   47.0       8.3           70.0       18.1         1
3   95.0       0.0           60.0       35.6         1
4   45.0       3.6           40.0       24.8         0

In [4]:
#Looking at the column headings in the train data
train_data.columns

Index(['id', 'day', 'pressure', 'maxtemp', 'temparature', 'mintemp',
       'dewpoint', 'humidity', 'cloud', 'sunshine', 'winddirection',
       'windspeed', 'rainfall'],
      dtype='object')

In [5]:
#Checking the summary of the dataframe
train_data.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2190 entries, 0 to 2189
Columns: 13 entries, id to rainfall
dtypes: float64(10), int64(3)
memory usage: 222.6 KB

In [6]:
#Checking the data types in our data set
train_data.dtypes

id                 int64
day                int64
pressure         float64
maxtemp          float64
temparature      float64
mintemp          float64
dewpoint         float64
humidity         float64
cloud            float64
sunshine         float64
winddirection    float64
windspeed        float64
rainfall           int64
dtype: object

In [7]:
#Checking descriptive statistics in our data
train_data.describe().T

,count,mean,std,min,25%,50%,75%,max
id,2190.0,1094.500000,632.342866,0.0,547.250,1094.50,1641.750,2189.0
day,2190.0,179.948402,105.203592,1.0,89.000,178.50,270.000,365.0
pressure,2190.0,1013.602146,5.655366,999.0,1008.600,1013.00,1017.775,1034.6
maxtemp,2190.0,26.365799,5.654330,10.4,21.300,27.80,31.200,36.0
temparature,2190.0,23.953059,5.222410,7.4,19.300,25.50,28.400,31.5
mintemp,2190.0,22.170091,5.059120,4.0,17.700,23.85,26.400,29.8
dewpoint,2190.0,20.454566,5.288406,-0.3,16.800,22.15,25.000,26.7
humidity,2190.0,82.036530,7.800654,39.0,77.000,82.00,88.000,98.0
cloud,2190.0,75.721918,18.026498,2.0,69.000,83.00,88.000,100.0
sunshine,2190.0,3.744429,3.626327,0.0,0.400,2.40,6.800,12.1
winddirection,2190.0,104.863151,80.002416,10.0,40.000,70.00,200.000,300.0
windspeed,2190.0,21.804703,9.898659,4.4,14.125,20.50,27.900,59.5
rainfall,2190.0,0.753425,0.431116,0.0,1.000,1.00,1.000,1.0

In [8]:
#Checking the number of rows and columns respectively in our dataset
train_data.shape

(2190, 13)

## DATA CLEANING

CHECKING FOR NULL VALUES

In [11]:
#Checking for null values
train_data.isnull().sum()
#We can clearly see we have no null values in the train dataset

id               0
day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    0
windspeed        0
rainfall         0
dtype: int64

CHECKING FOR DUPLICATED ROWS

In [14]:
#We have no duplicated rows
train_data.duplicated().sum()

0

CHECKING FOR OUTLIERS

In [20]:
numerical_cols = train_data.select_dtypes(include=[np.number]).columns
numerical_cols

Index(['id', 'day', 'pressure', 'maxtemp', 'temparature', 'mintemp',
       'dewpoint', 'humidity', 'cloud', 'sunshine', 'winddirection',
       'windspeed', 'rainfall'],
      dtype='object')

In [21]:
# Select only numerical columns
num_cols = train_data.select_dtypes(include=["pressure","maxtemp","temparature","mintemp ","dewpoint","humidity","cloud","sunshine","winddirection","windspeed","rainfall"])         

# Plot boxplots for all numerical columns
plt.figure(figsize=(12, 6))
train_data[numerical_cols].boxplot(rot=45)  # Rotate labels for readability
plt.title("Boxplot of Numerical Features")
plt.show()

TypeError: data type 'pressure' not understood